.dice-container {
  margin: 50px auto;
  width: 100px;
  height: 100px;
  perspective: 600px;
}

.cube {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.25s;
  width: 100%;
  height: 100%;
}

.cube div {
  border-radius: 5px;
  width: 100px;
  height: 100px;
  position: absolute;
	background-color: #e29923;
}

.front {
  transform: rotateY(0deg) translateZ(50px);
  background-image: url("../images/dice/side1.png");
	background-size: cover;
}
.back {
  transform: rotateX(180deg) translateZ(50px);
  background-image: url("../images/dice/side2.png");
	background-size: cover;
}
.right {
  transform: rotateY(90deg) translateZ(50px);
  background-image: url("../images/dice/side3.png");
	background-size: cover;
}
.left {
  transform: rotateY(-90deg) translateZ(50px);
  background-image: url("../images/dice/side4.png");
	background-size: cover;
}
.top {
  transform: rotateX(90deg) translateZ(50px);
  background-image: url("../images/dice/side5.png");
	background-size: cover;
}
.bottom {
  transform: rotateX(-90deg) translateZ(50px);
  background-image: url("../images/dice/side6.png");
	background-size: cover;
}

.cube.show1 {
  transform: translateZ(-50px) rotateY(0deg);
}
.cube.show2 {
  transform: translateZ(-50px) rotateX(-180deg);
}
.cube.show3 {
  transform: translateZ(-50px) rotateY(-90deg);
}
.cube.show4 {
  transform: translateZ(-50px) rotateY(90deg);
}
.cube.show5 {
  transform: translateZ(-50px) rotateX(-90deg);
}
.cube.show6 {
  transform: translateZ(-50px) rotateX(90deg);
}
