body {
	background-color: #21000d;
	background-image: url("../images/background.png");
  background-repeat: repeat;
	color: #ffffff;
}

.row {
  margin-bottom: 1%;
}

.sabacc-card {
  height: 100%;
  width: auto;
	cursor: pointer;
}
